.card-body{
  width: 545px;
}

.card-img-bottom{
  height: auto;
  max-width: 700px;
}


.btnBuscar{
  margin-right: 20px;
}

.card-post{
  width: 545px;
  max-height: 900px;
}

.card-text{
  position: static;
  padding: 15px;
}

.card-footer{
  position: static;
}

.mb-2{
  position: static;
}
